/*Global*/
:root {
    /*-----------Colors----------*/
    /*----------Primary----------*/
    --VeryDarkBlue: hsl(233, 47%, 7%);
    --DarkDesaturatedBlue: hsl(244, 38%, 16%);
    --SoftViolet: hsl(277, 64%, 61%);

    /*----------Neutrals----------*/
    --White: hsl(0, 0%, 100%);
    --TransparentWhite: hsla(0, 0%, 100%, 0.75);
    --TransparentWhite2: hsla(0, 0%, 100%, 0.6);

    --roundedCorner: 1rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Inter";
    font-size: 1.5rem;
    line-height: 1.5;
    background-color: var(--VeryDarkBlue);
    color: var(--White);
}
p {
    margin: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.containerCard {
    background-color: var(--DarkDesaturatedBlue);
    width: 90%;
    height: auto;
    margin: 10% auto;
    border-radius: var(--roundedCorner);
}
.card__image {
    position: relative;
}

.card__image img {
    border-radius: var(--roundedCorner) var(--roundedCorner) 0 0;
}

.card__image--overlay {
    position: absolute;
    top: 0;
    height: calc(100% - 0.6rem);
    width: 100%;
    background-color: var(--SoftViolet);
    filter: opacity(0.5) brightness(0.4) saturate(3.5);
    border-radius: var(--roundedCorner) var(--roundedCorner) 0 0;
}

.card__text {
    padding: 2rem;
    text-align: center;
}

.card__title {
    line-height: 3rem;
}

.card__title--span {
    color: var(--SoftViolet);
}
.card__paragraph {
    color: var(--TransparentWhite);
    /* text-align: center; */
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}
.card__footer {
    display: grid;
}
.card__footer--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card__footer--item .item__title {
    margin-bottom: 0.3rem;
}
.card__footer--item .item__description {
    color: var(--TransparentWhite);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}
